<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<title>Blog</title>
</head>

<body>
	<!-- <h1>Welcome to the Blog</h1> -->
	<div class="nav">
		<div id="new-post">
			<a href="/post">New Post</a>
		</div>
		<div id="search-item">
			<input type="text" id="searchInput" placeholder="Search Here ....">
			<button id="searchButton"></button>
		</div>
	</div>


	<ul id="searchResults"></ul>
	<hr>
	<ul id="posts-list"></ul>


	<footer>
		<p>Copyright © 2023 PragnithaSeggam</p>
	</footer>
	<script src="/scripts/index.js"></script>
	<script src="/scripts/search.js"></script>
</body>

</html>